html {
	background-image: url(../img/login-bg.jpg);
	background-position: 52% 20%;
	background-color: #cccccc;
	margin: 0;
	height:100%;
    overflow:hidden;
}
body {height:100%;}

.row.full-height {
    height: 100%;
}

.flex {
display: flex;
flex-direction: center;
justify-content: center;
}

.flex.sign-page.container {
    margin-top: 10em;
}

.container {
    margin: 0 auto;
    max-width: 1280px;
    width: 90%;
}
.window-container{background-color:#fff;}

.input-field .prefix {
    position: absolute;
    width: 3rem;
    font-size: 2rem;
    transition: color .2s;
    top: 0.5em;
}

.btn {float:right;} 

.btn:hover, .btn-large:hover {
    background-color: #0F2557;
}
.sign-page .title{text-align:right; float: right;}
.sign-window{background-color:#fff; border-radius:5px;}

.logo {
    height: 5.5rem !important;
    background-size: cover !important;
    width: 5.5rem !important;
}
.row{width:100%;}
.container > .row:last-child {
    margin-bottom: 45px;
}

.row.header-img {
    margin-top: 30px;
    margin-right: 0px;
    margin: 30px 0px 10px 0px;
    }
.header-img img{ width:100%; }

.page-content .half-nav{padding-right:0px !important}
.page-content{
    background-color: #f7f7f7;
    padding:0px !important;
    overflow: auto !important;
    height: 100%;
}

.corner-logo {
    width: 170px;
}
.corner-logo-small{
    width: 100px;
}

.sidebar-fixed{    
    height: 100%;
    background-color: #fff;
    border-right: 2px solid #a9a9a9;
}

.sidebar-fixed i{
    float: left;
    height: 48px;
    line-height: 48px;
    margin: 0 32px 0 0;
    width: 24px;
    color: rgba(0,0,0,0.54);}



img.corner-logo {
    width: 100%;
}

nav {
    color: #fff;
    background-color: #0f2557;
}

/*
@media screen and (orientation:portrait) and (max-width:600px){
.hide-on-small{display:none;}

}*/
